<script src="/js/admin-statistics.js"></script>
<div class="panel panel-default panel-shadow" style="padding-top: 10px;">
    <div class="panel-body">
        <h3 style="margin-top: 0;">Collection statistics</h3>
        <div class="highcharts-outter-design" style="margin-bottom: 10px;">
            <div id="chart-collection-change">

            </div>
        </div>
        <div class="highcharts-outter-design">
            <div id="chart-collection-rarity">

            </div>
        </div>
    </div>
</div>