<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-shadow">
            <div class="panel-heading panel-heading-extended">
                Search
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="cardName">Card name:</label>
                                <input type="text" class="form-control" id="cardName" ng-model="search.name" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="panel-group panel panel-default panel-shadow" id="card-accordion">
    <div class="panel-body">
        <div style="text-align: center;" data-loading="">
            <span style="font-size: 5em" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
        <div class="panel panel-default panel-inner" ng-repeat="card in cards| filter:{data: { name: search.name}}">
            <div class="panel-heading no-border">
                <h4 class="cursor-link panel-title" ng-click="openCard(card.data.multiverseId)">{{card.data.name}}</h4>
            </div>
            <div id="{{::card.data.multiverseId}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-responsive card-image" src="http://mtgimage.com/set/{{::card.data.expansion}}/{{::card.data.imageName}}.hq.jpg" alt="{{::card.data.name}} Image" />
                        </div>
                        <div class="col-md-9">
                            <div class="panel panel-default panel-inner">
                                <div class="panel-heading">
                                    <h3 class="panel-title bold">Collection information</h3>
                                </div>
                                <table class="table" ng-if="!$parent.loggedIn">
                                    <tr>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Price</th>
                                    </tr>
                                    <tr ng-if="card.collection.mintAmount">
                                        <td>Mint:</td>
                                        <td>{{::card.collection.mintAmount}}</td>
                                        <td>{{card.collection.mintPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr ng-if="card.collection.nearMintAmount">
                                        <td>Near Mint:</td>
                                        <td>{{::card.collection.nearMintAmount}}</td>
                                        <td>{{card.collection.nearMintPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr ng-if="card.collection.slightlyPlayedAmount">
                                        <td>Slightly played:</td>
                                        <td>{{::card.collection.slightlyPlayedAmount}}</td>
                                        <td>{{card.collection.slightlyPlayedPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr ng-if="card.collection.moderatelyPlayedAmount">
                                        <td>Moderately played:</td>
                                        <td>{{::card.collection.moderatelyPlayedAmount}}</td>
                                        <td>{{card.collection.moderatelyPlayedPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr ng-if="card.collection.heavilyPlayedAmount">
                                        <td>Heavily played:</td>
                                        <td>{{::card.collection.heavilyPlayedAmount}}</td>
                                        <td>{{card.collection.heavilyPlayedPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr ng-if="card.collection.onlineAmount">
                                        <td>Online (MTGO/MODO):</td>
                                        <td>{{::card.collection.onlineAmount}}</td>
                                        <td>{{card.collection.onlinePrice / priceDivider}} $</td>
                                    </tr>
                                    <tr ng-if="card.collection.foilAmount">
                                        <td>Foil:</td>
                                        <td>{{::card.collection.foilAmount}}</td>
                                        <td>{{card.collection.foilPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr ng-if="!card.collection.foilAmount &amp;&amp; !card.collection.onlineAmount &amp;&amp; !card.collection.heavilyPlayedAmount &amp;&amp;
                                    !card.collection.moderatelyPlayedAmount &amp;&amp; !card.collection.slightlyPlayedAmount &amp;&amp; !card.collection.nearMintAmount
                                            &amp;&amp; !card.collection.mintAmount">
                                        <td colspan="3" class="text-center"><i>Not found in the collection!</i></td>
                                    </tr>
                                </table>
                                <table class="table" ng-if="$parent.loggedIn">
                                    <tr>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Price</th>
                                    </tr>
                                    <tr>
                                        <td>Mint:</td>
                                        <td><input type="number" ng-model="card.collection.mintAmount" ng-change="sendUpdate($index, 'mintAmount')" integer=""/></td>
                                        <td>{{::card.collection.mintPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr>
                                        <td>Near Mint:</td>
                                        <td><input type="number" ng-model="card.collection.nearMintAmount" ng-change="sendUpdate($index, 'nearMintAmount')" integer=""/></td>
                                        <td>{{::card.collection.nearMintPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr>
                                        <td>Slightly played:</td>
                                        <td><input type="number" ng-model="card.collection.slightlyPlayedAmount" ng-change="sendUpdate($index, 'slightlyPlayedAmount')" integer=""/></td>
                                        <td>{{::card.collection.slightlyPlayedPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr>
                                        <td>Moderately played:</td>
                                        <td><input type="number" ng-model="card.collection.moderatelyPlayedAmount" ng-change="sendUpdate($index, 'moderatelyPlayedAmount')" integer=""/></td>
                                        <td>{{::card.collection.moderatelyPlayedPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr>
                                        <td>Heavily played:</td>
                                        <td><input type="number" ng-model="card.collection.heavilyPlayedAmount" ng-change="sendUpdate($index, 'heavilyPlayedAmount')" integer=""/></td>
                                        <td>{{::card.collection.heavilyPlayedPrice / priceDivider}} $</td>
                                    </tr>
                                    <tr>
                                        <td>Online (MTGO/MODO):</td>
                                        <td><input type="number" ng-model="card.collection.onlineAmount" ng-change="sendUpdate($index, 'onlineAmount')" integer=""/></td>
                                        <td>{{::card.collection.onlinePrice / priceDivider}} $</td>
                                    </tr>
                                    <tr>
                                        <td>Foil:</td>
                                        <td><input type="number" ng-model="card.collection.foilAmount" ng-change="sendUpdate($index, 'foilAmount')" integer=""/></td>
                                        <td>{{::card.collection.foilPrice / priceDivider}} $</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel panel-default panel-inner">
                                <div class="panel-heading">
                                    <h3 class="panel-title bold">General information</h3>
                                </div>
                                <div class="panel-body">
                                    <p ng-bind-html="replaceSymbols(card.data.text)"></p>
                                    <p ng-if="card.data.flavor"><i>{{::card.data.flavor}}</i></p>
                                </div>
                                <table class="table" >
                                    <tr>
                                        <td class="bold" ng-if="card.data.number" style="width: 25%;">Name:</td>
                                        <td ng-if="card.data.number">{{::card.data.name}} (#{{::card.data.number}})</td>

                                        <td class="bold" ng-if="!card.data.number" style="width: 25%;">Name:</td>
                                        <td ng-if="!card.data.number">{{::card.data.name}}</td>

                                        <td class="bold">Manacost:</td>
                                        <td ng-bind-html="replaceSymbols(card.data.manacost +   ' - ({' +   card.data.cmc +   '})')"></td>
                                    </tr>
                                    <tr>
                                        <td class="bold" ng-if="card.data.color">Color</td>
                                        <td ng-if="card.data.color">{{::card.data.color.join(', ')}}</td>

                                        <td class="bold" ng-if="!card.data.color">Color</td>
                                        <td ng-if="!card.data.color">Colorless</td>

                                        <td class="bold" ng-if="card.data.subtypes">Type:</td>
                                        <td ng-if="card.data.subtypes">{{::card.data.supertypes.join(', ')}} {{::card.data.types.join(' ')}} — {{::card.data.subtypes.join(' ')}}</td>

                                        <td class="bold" ng-if="!card.data.subtypes">Type:</td>
                                        <td ng-if="!card.data.subtypes">{{::card.data.supertypes.join(', ')}} {{::card.data.types.join(' ')}}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Rarity:</td><td>{{::card.data.rarity}}</td>
                                        <td class="bold">Artist:</td><td>{{::card.data.artist}}</td>
                                    </tr>
                                    <tr ng-if="card.data.power">
                                        <td class="bold">Power:</td><td>{{::card.data.power}}</td>
                                        <td class="bold">Toughness:</td><td>{{::card.data.toughness}}</td>
                                    </tr>
                                    <tr ng-if="card.data.layout">
                                        <td class="bold">Layout</td>
                                        <td>{{::card.data.layout}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div  ng-if="card.data.rulings" class="panel panel-default panel-inner">
                                <div class="panel-heading">
                                    <h3 class="panel-title bold">Ruling information</h3>
                                </div>
                                <table class="table">
                                    <tr>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Text</th>
                                    </tr>
                                    <tr ng-repeat="ruling in card.data.rulings">
                                        <td class="bold" style="width: 100px;">{{::ruling.date}}</td>
                                        <td ng-bind-html="replaceSymbols(ruling.text)"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>