<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-shadow">
            <div class="panel-heading panel-heading-extended" th:text="#{expansion.index.search}">Search</div>
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-3">
                            <fieldset class="fieldset-normal" data-bitmask-name="filter-rarity" data-bitmask="0">
                                <legend th:text="#{expansion.index.legality}">Legality</legend>
                                <ul style="list-style: none;
list-style-image: none;padding-top: 5px;padding-bottom: 5px;">
                                    <li>
                                        <input type="checkbox" ng-model="search.standard" id="is-standard" />
                                        <label for="is-standard" th:text="#{expansion.index.standard}">is standard</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" ng-model="search.modern" id="is-modern" />
                                        <label for="is-modern" th:text="#{expansion.index.modern}">is modern</label>
                                    </li>
                                </ul>
                            </fieldset>
                            <fieldset class="fieldset-normal"  data-bitmask-name="filter-rarity" data-bitmask="0">
                                <legend th:text="#{expansion.index.others}">Others</legend>
                                <ul>
                                    <li>
                                        <input type="checkbox" ng-model="search.onlyWithCards" id="only-with-cards" />
                                        <label for="only-with-cards" th:text="#{expansion.index.only_with_cards}">only with cards</label>
                                    </li>
                                </ul>
                            </fieldset>
                        </div>
                        <div class="col-md-9">
                            <fieldset class="fieldset-normal"  data-bitmask-name="filter-rarity" data-bitmask="0">
                                <legend th:text="#{expansion.index.expansion_name}">Expansion name</legend>
                                <div style="margin: 10px;">
                                    <input style="width:100%" type="text" class="form-control" ng-model="search.name" />
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-group panel panel-default panel-shadow" id="expansion-accordion">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th th:text="#{expansion.index.name_head}">Name</th>
                            <th style="width: 20%;" class="text-center" th:text="#{expansion.index.count}">Count<br /><small th:text="#{expansion.index.cards_in_stock}">(Cards in stock!)</small></th>
                            <th style="width: 20%;" class="text-center" th:text="#{expansion.index.options}">Options</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="expansion in expansions| filter:{data: { name: search.name}} | filter:isModern() | filter:isStandard() | filter:isWithCards()" style="border: 1px solid #decda0;">
                        <tr style="height: 52px;background: rgba(1,1,1,0.05);">
                            <td class="text-middle">
                                <img ng-if="inArray('r',expansion.data.seticons)" class="img-thumbnail expansion-set-icon" ng-src="http://mtgimage.com/symbol/set/{{expansion.data.id}}/r.svg" alt="{{expansion.data.name}} Icon" /> {{expansion.data.name}}
                            </td>
                            <td ng-if="expansion.collection" class="text-middle text-center">
                                {{expansion.collection.mythicAmount + expansion.collection.rareAmount + expansion.collection.uncommonAmount + expansion.collection.commonAmount}}
                            </td>
                            <td ng-if="!expansion.collection" class="text-middle text-center">0</td>
                            <td class="text-center">
                                <button class="btn btn-default" data-ui-sref="expansion/cardlist({expansionId: expansion.data.id})">
                                    <span class="glyphicon glyphicon-chevron-up"></span> <span th:text="#{expansion.index.open}">Open</span>
                                </button>
                                <button class="btn btn-default" ng-click="openExpansion(expansion.data.id)">
                                    <span class="glyphicon glyphicon-chevron-down"></span> <span th:text="#{expansion.index.show}">Show</span>
                                </button>
                            </td>
                        </tr>
                        <tr class="expansion-row">
                            <td colspan="3" style="padding: 0;">
                                <div id="{{expansion.data.id}}" class="row panel-collapse collapse">
                                    <div class="col-md-12">
                                        <div class="panel panel-default panel-inner">
                                            <div class="panel-heading">
                                                <h3 class="panel-title bold" th:text="#{expansion.index.collection_information}">Collection information</h3>
                                            </div>
                                            <table class="table" >
                                                <tr>
                                                    <td class="bold" style="width: 25%;" th:text="#{expansion.index.mythic_rare}">Mythic Rare:</td>
                                                    <td style="width: 25%;">{{expansion.collection.mythicAmount}}</td>
                                                    <td class="bold" style="width: 25%;" th:text="#{expansion.index.rare}">Rare:</td>
                                                    <td style="width: 25%;">{{expansion.collection.rareAmount}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="bold" th:text="#{expansion.index.uncommon}">Uncommon:</td>
                                                    <td>{{expansion.collection.uncommonAmount}}</td>
                                                    <td class="bold" th:text="#{expansion.index.common}">Common:</td>
                                                    <td>{{expansion.collection.commonAmount}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel panel-default panel-inner">
                                            <div class="panel-heading">
                                                <h3 class="panel-title bold" th:text="#{expansion.index.general_information}">General information</h3>
                                            </div>
                                            <div class="panel-body">
                                                <img style="float:left;margin-right: 18px;" ng-if="inArray('r',expansion.data.seticons)" class="img-responsive img-thumbnail expansion-set-tumbnail" ng-src="http://mtgimage.com/symbol/set/{{expansion.data.id}}/r.svg"  alt="{{expansion.data.name}} Icon"/>
                                                <p>Release info will come here</p>
                                            </div>
                                            <table class="table" >
                                                <tr>
                                                    <td class="bold" style="width: 15%;" th:text="#{expansion.index.name}">Name:</td><td>{{expansion.data.name}}</td>
                                                    <td class="bold" th:text="#{expansion.index.type}">Type:</td><td>{{expansion.data.type| capitalize}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="bold" th:text="#{expansion.index.release_date}">Release date:</td><td>{{expansion.data.releaseDate| date:'yyyy-MM-dd'}}</td>
                                                    <td class="bold" th:text="#{expansion.index.border}">Border:</td><td>{{expansion.data.border| capitalize}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="bold" ng-if="expansion.data.block" th:text="#{expansion.index.block}">Block:</td><td ng-if="expansion.data.block">{{expansion.data.block}}</td>
                                                    <td class="bold" ng-if="!expansion.data.block" th:text="#{expansion.index.block}">Block:</td><td ng-if="!expansion.data.block" th:text="#{expansion.index.not_in_block}">Not in block</td>
                                                    <td class="bold" th:text="#{expansion.index.online_only}">Online only:</td><td>{{expansion.data.onlineOnly.toString() | capitalize}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: center;" data-loading="">
                    <span style="font-size: 5em" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </div>
        </div>
    </div>
</div>