<div class="panel-group" id="expansion-accordion">
    <div class="panel panel-default" ng-repeat="expansion in expansions">
        <div class="panel-heading">
            <h4 class="cursor-link panel-title" ng-click="openExpansion(expansion.id)">
                <img class="img-thumbnail expansion-set-icon" src="http://mtgimage.com/symbol/set/{{expansion.id}}/r.svg" alt="{{expansion.name}} Icon" />
                {{expansion.name}}
                <span class="expansion-set-button-group cursor-default">
                    <button class="btn btn-default" data-ui-sref="expansion/cardlist({expansionId: expansion.id})"><span class="glyphicon glyphicon-chevron-up"></span> To the cards</button>
                </span>
            </h4>
        </div>
        <div id="{{expansion.id}}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive img-thumbnail expansion-set-tumbnail" src="http://mtgimage.com/symbol/set/{{expansion.id}}/r.svg"  alt="{{expansion.name}} Icon"/>
                    </div>
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title bold">General information</h3>
                            </div>
                            <div class="panel-body">
                                <p>Release info will come here</p>
                            </div>
                            <table class="table" >
                                <tr>
                                    <td class="bold" style="width: 15%;">Name:</td><td>{{expansion.name}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Release date:</td><td>{{expansion.releaseDate}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Border:</td><td>{{expansion.border| capitalize}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Type:</td><td>{{expansion.type| capitalize}}</td>
                                </tr>
                                <tr ng-if="expansion.block">
                                    <td class="bold">Block:</td><td>{{expansion.block}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Online only:</td><td>{{expansion.onlineOnly.toString() | capitalize}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>