<div class="panel-group" id="card-accordion">
    <div class="panel panel-default" ng-repeat="card in cards">
        <div class="panel-heading">
            <h4 class="cursor-link panel-title" ng-click="openCard(card.data.multiverseId)">{{card.data.name}}</h4>
        </div>
        <div id="{{card.data.multiverseId}}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-responsive" src="http://mtgimage.com/set/{{card.data.expansion}}/{{card.data.imageName}}.hq.jpg" alt="{{card.data.name}} Image" />
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title bold">Collection information</h3>
                            </div>
                            <div class="panel-body">
                                xyz
                            </div>
                            <table class="table">
                                <tr><td>Hello</td><td>world</td></tr>
                            </table>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title bold">General information</h3>
                            </div>
                            <div class="panel-body">
                                <p ng-bind-html="toTrusted(card.data.text)"></p>
                                <p ng-if="card.data.flavor"><i>{{card.data.flavor}}</i></p>
                            </div>
                            <table class="table">
                                <tr ng-repeat="info in card.printinfo">
                                    <td class="bold" style="width:20%;" ng-bind-html="toTrusted(info[0].title + ':')"></td>
                                    <td style="width:30%;" ng-bind-html="toTrusted(info[0].value)"></td>
                                    <td class="bold" style="width:20%;" ng-if="info[1].title" ng-bind-html="toTrusted(info[1].title + ':')"></td>
                                    <td style="width:30%;" ng-if="info[1].title" ng-bind-html="toTrusted(info[1].value)"></td>
                                    <td ng-if="!info[1].title" colspan="2"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title bold">Ruling information</h3>
                            </div>
                            <table class="table">
                                <tr><td>Hellow</td><td>world</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>