/** Content **/

.container {
    width: 1024px;
}

/** Header **/

.button-container {
    padding: 10px;
    padding-right: 0;
}

/** Expansion set list **/

.expansion-set-icon {
    width: 40px;
    height: 40px;
    margin-top: -6px;
    margin-left: -11px;
    margin-bottom: -6px;
}

.expansion-set-button-group {
    float:right;
    margin-top: -3px;
    margin-right: -10px;
}

.expansion-set-tumbnail {
    max-width: 128px;
    min-width: 128px;
    min-height: 128px;
    max-height: 128px;
    background-color: #EEEEEE;
}

.bold {
    font-weight: 700;
}

/** Error **/

.bg-danger {
    padding: 10px;
}

/** General **/

.btn {
    margin-left: 10px;
}