/** Content **/

.container {
    width: 1024px;
    font-family: 'Open Sans', sans-serif;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px; 
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 50px; 
}

/** Header **/

.button-container {
    padding: 15px;
    padding-right: 0;
}

/** Expansion set list **/

.expansion-set-icon {
    width: 40px;
    height: 40px;
    margin-top: -6px;
    margin-bottom: -6px;
}

.expansion-set-tumbnail {
    max-width: 128px;
    min-width: 128px;
    min-height: 128px;
    max-height: 128px;
    background-color: #EEEEEE;
}

.bold {
    font-weight: 700;
}

/** Error **/

.bg-danger {
    padding: 10px;
}

/** Card **/

.card-image {
    border: solid 1px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 5px;
}

/** General **/

#menu .btn {
    margin-left: 10px;
}

.cursor-link {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.text-middle {
    vertical-align: middle !important;
}

.panel-invisible {
    display: none;
}

body {
    background-color: #dae3e7;
}

html, body, .container {
    height: 100%;
}

.panel-heading-extended {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.panel-shadow {
    box-shadow: 0px 0px 10px #888;
}

/** Loading animation **/

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}