/** Content **/

.container {
    width: 1024px;
}

/** Header **/

.button-container {
    padding: 10px;
}

/** Error **/

.bg-danger {
    padding: 10px;
}

/** General **/

.btn {
    margin-left: 10px;
}