/** Content **/

.container {
    width: 1024px;
}

/** Header **/

.button-container {
    padding: 15px;
    padding-right: 0;
}

/** Expansion set list **/

.expansion-set-icon {
    width: 40px;
    height: 40px;
    margin-top: -6px;
    margin-bottom: -6px;
}

.expansion-set-tumbnail {
    max-width: 128px;
    min-width: 128px;
    min-height: 128px;
    max-height: 128px;
    background-color: #EEEEEE;
}

.bold {
    font-weight: 700;
}

/** Error **/

.bg-danger {
    padding: 10px;
}

/** General **/

#menu .btn {
    margin-left: 10px;
}

.cursor-link {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.text-middle {
    vertical-align: middle !important;
}

.panel-invisible {
    display: none;
}

body {
    background-color: #dae3e7;
}

.panel-heading-extended {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.panel-shadow {
    box-shadow: 0px 0px 10px #888;
}