<!DOCTYPE html>
<html ng-app="swords">
    <head>
        <title th:text="#{index.title}">Swords and Sorcery alpha v0.01</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/highslide.css" rel="stylesheet" media="screen"/>
        <link href="/css/core.css" rel="stylesheet" media="screen"/>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'/>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
        <script src="//cdn.jsdelivr.net/angular.ui-router/0.2.11/angular-ui-router.js"></script>
        <script src="http://code.highcharts.com/4.0/highcharts.js"></script>
        <script src="http://code.highcharts.com/4.0/modules/data.js"></script>
        <script src="http://code.highcharts.com/4.0/modules/exporting.js"></script>
        <script src="/js/core.js"></script>
        <script src="/js/highslide.js"></script>

        <script type="text/javascript">
            hs.graphicsDir = '../img/highslide/';
            hs.creditsText = '';
            hs.restoreTitle = 'Click to close image, click and drag to move.';
            hs.allowMultipleInstances = false;
            hs.showCredits = false;
            hs.outlineType = null;
        </script>
    </head>
    <body ng-controller="MainController">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" data-ui-sref="home">Swords of Magic <small style="font-size: 65%; color: white;">v 0.01</small></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!--<form class="navbar-form navbar-left" role="search">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Search" />
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>-->
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-repeat="button in buttons"><a href="#" data-ui-sref="{{button.sref}}" data-ui-sref-active="active">{{button.title}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="page-wrap">
                <div class="row" style="margin-top: 34px;">
                    <div class="col-md-12 text-right">
                        <div style="border-top-right-radius: 0; border-top-left-radius: 0;" class="panel panel-default panel-shadow">
                            <div class="panel-body">
                                <span class="flag-holder">
                                    <a href="/locale/en_GB"><img src="/img/flag/en_GB.png" alt="English (GB)" /></a>
                                    <a href="/locale/hu_HU"><img src="/img/flag/hu_HU.png" alt="Magyar" /></a>
                                </span>
                                <img class="img-responsive" style="border: solid 1px; box-shadow: 0px 0px 5px #000;" src="/img/title.jpg" alt="Site logo" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-show="error.show">
                        <p class="bg-danger">{{error.text}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" data-ui-view="">
                    </div>
                </div>
            </div>
            <div class="site-footer">
                <div class="row">
                    <div class="col-md-12 text-right" style="height: 50px;">
                        <div style="border-bottom-right-radius: 0; border-bottom-left-radius: 0;margin-bottom: 0; height: 100%;" class="panel panel-default panel-shadow">
                            <div class="panel-body text-center">
                                <span th:text="#{index.created.start}">Created with</span> <a href="https://github.com/laxika/Swords-of-Magic">Swords of Magic</a> <span th:text="#{index.created.end}">.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>