<!DOCTYPE html>
<html ng-app="swords">
    <head>
        <title>Swords and Sorcery alpha v0.01</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/core.css" rel="stylesheet" media="screen"/>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
        <script src="//cdn.jsdelivr.net/angular.ui-router/0.2.11/angular-ui-router.js"></script>
        <script src="/js/core.js"></script>
    </head>
    <body ng-controller="MainController">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right">
                    <div class="button-container">
                        <button type="button" class="btn btn-default" ng-repeat="button in buttons" data-ui-sref="{{button.sref}}" data-ui-sref-active="active">{{button.title}}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-show="error.show">
                    <p class="bg-danger">{{error.text}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" data-ui-view="">
                </div>
            </div>
        </div>
    </body>
</html>